body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    margin-top: 5%;
    gap: 3%;
    justify-content: center;
}

.container .left{
    border: 2px solid grey;
    text-transform: capitalize;
    font-size: 25px;
    background-color: grey;
    height: 34rem;
    width: 30vh;
    color: #FFF;
}

.container .left ul{
    list-style: none;
    padding-top: 10rem;
}

.container .conatin-right{
    display: flex;
    gap: 3%;
}

.image img{
  width: 25rem; 
}